#chat-window {
    max-width: 400px;
    margin: auto;
}

#message-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.user.current-user {
    font-weight: bold;
}

.user {
    margin-right: 5px;
    font-size: large;
}

.message {
    display: block;
    margin-bottom: 5px;
}

#message-form {
    margin-top: 10px;
}

#message-form input,
#message-form button {
    margin-right: 5px;
}

